table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

/* Estilo para el botón de eliminar */
button[mat-button][color="warn"] {
  background-color: #f44336;
  color: white;
}

/* Estilo para el modal */
.modal {
  position: fixed;
  z-index: 1000; /* Sit on top */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  margin-top: 20px; /* Agrega espacio superior */
}

button[mat-button] {
  margin-left: 10px; /* Espacio entre los botones */
}

button[mat-button]:hover {
  opacity: 0.8; /* Opacidad al pasar el mouse */
}

.buttons-container {
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
  margin-top: 20px; /* Agrega espacio superior */
}

button[mat-raised-button] {
  font-size: 16px; /* Tamaño de la fuente */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

button[mat-raised-button]:hover {
  background-color: #3f51b5; /* Color de fondo al pasar el mouse */
  color: white;
}

/* Estilo adicional para el botón de eliminar */
button[mat-icon-button] {
  font-size: 20px; /* Tamaño del icono */
}

button[mat-icon-button]:hover {
  background-color: #ff5252; /* Color de fondo al pasar el mouse */
}