<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <!-- Definición de columnas -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="especialidad">
    <th mat-header-cell *matHeaderCellDef> Especialidad </th>
    <td mat-cell *matCellDef="let element"> {{element.especialidad}} </td>
  </ng-container>

  <ng-container matColumnDef="profesor">
    <th mat-header-cell *matHeaderCellDef> Profesor </th>
    <td mat-cell *matCellDef="let element"> {{element.profesor}} </td>
  </ng-container>

  <ng-container matColumnDef="fechaInicio">
    <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
    <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
  </ng-container>

  <ng-container matColumnDef="fechaTermino">
    <th mat-header-cell *matHeaderCellDef> Fecha de Término </th>
    <td mat-cell *matCellDef="let element"> {{element.fechaTermino}} </td>
  </ng-container>

  <ng-container matColumnDef="vigente">
    <th mat-header-cell *matHeaderCellDef> Vigente </th>
    <td mat-cell *matCellDef="let element"> {{element.vigente ? 'Sí' : 'No'}} </td>
  </ng-container>

  <!-- Nueva columna de acciones -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-icon-button color="primary" (click)="updateRow(i)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteRow(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Definición de filas -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Botones para modificar columnas -->
<div class="buttons-container">
  <button mat-raised-button color="primary" (click)="openModal()">Agregar nuevo curso</button>
</div>

<!-- Modal para agregar fila -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <h3>Agregar nuevo curso</h3>
    <form [formGroup]="newRowForm">

      <input type="hidden" formControlName="id">

      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
        <mat-error>El campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Especialidad</mat-label>
        <input matInput formControlName="especialidad">
        <mat-error>El campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Profesor</mat-label>
        <input matInput formControlName="profesor">
        <mat-error>El campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha de Inicio</mat-label>
        <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicio">
        <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
        <mat-datepicker #pickerInicio></mat-datepicker>
        <mat-error>El campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha de Término</mat-label>
        <input matInput [matDatepicker]="pickerTermino" formControlName="fechaTermino">
        <mat-datepicker-toggle matSuffix [for]="pickerTermino"></mat-datepicker-toggle>
        <mat-datepicker #pickerTermino></mat-datepicker>
        <mat-error>El campo es requerido</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="vigente">Vigente</mat-checkbox>

      <div class="modal-buttons">
        <button mat-button color="primary" (click)="saveRow()">Guardar</button>
        <button mat-button color="warn" (click)="closeModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>