<div class="app-container">
  <app-toolbar (toggleNavbarEvent)="toggleNavbar()"></app-toolbar>

  <div class="main-container">
    <div class="navbar-container">
      <app-navbar (dataChanged)="handleDataChanged($event)"></app-navbar>
    </div>
    <div class="content-container">
        <app-grilla *ngIf="selectedComponent === 'cursos'" [data]="dataFromNavbar"></app-grilla>
        <app-curso-list *ngIf="selectedComponent === 'curso-list'" [data]="dataFromNavbar"></app-curso-list>
        <app-alumnos *ngIf="selectedComponent === 'alumnos'" [data]="dataFromAlumnos"></app-alumnos>
        <app-message *ngIf="selectedComponent === 'principal'" [data]="dataFromNavbar"></app-message>
      </div>

  </div>
</div>
