/* app.component.scss */

/* app.component.scss */
.mat-toolbar {
  background-color: #2196f3; /* Color azul */
  color: white; /* Texto en blanco */
  width: 100%;
}

@media screen and (max-width: 600px) {
  .mat-toolbar {
    padding: 0 16px;
  }
}

/* app.component.css */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ajusta la altura al 100% del viewport */
}

.main-container {
  display: flex;
  flex: 1; /* El contenido principal ocupa todo el espacio restante */
}

.navbar-container {
  width: 250px; /* Ancho fijo para app-navbar */
  flex-shrink: 0; /* No se encoge, mantiene el ancho fijo */
  background-color: #f0f0f0; /* Color de fondo opcional */
}

.content-container {
  flex: 1; /* El contenido ocupa todo el espacio disponible */
  padding: 20px; /* Espacio interior para el contenido */
  overflow-y: auto; /* Barra de desplazamiento vertical si es necesario */
}
