.example-container {
  height: 100vh;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

.mat-sidenav-content {
  margin-left: 70px;
}

.main-content {
  padding: 20px;
}

.button-row {
  margin-bottom: 20px;
}

